<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>superviser_user_circle</mat-icon>
    </button>
    <span>UserManagment</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="warn"  (click)="openDialog()">
      დამატება
    </button>
    
  </mat-toolbar>

  <div class="container">
    <div style="margin-top:10px">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
      
          <!-- privateNumber Column -->
          <ng-container matColumnDef="privateNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> privateNumber </th>
            <td mat-cell *matCellDef="let row"> {{row.privateNumber}} </td>
          </ng-container>
      
          <!-- firstName Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> firstName </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
              <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
            </ng-container>

              <!-- phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
          </ng-container>

              <!-- email Column -->
           <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
           </ng-container>
          
              <!-- birthDate Column -->
            <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> birthDate </th>
                <td mat-cell *matCellDef="let row"> {{row.birthDate | date}} </td>
            </ng-container>

              <!-- address Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> address </th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>

              <!-- genderType Column -->
              <ng-container matColumnDef="genderType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> genderType </th>
                <td mat-cell *matCellDef="let row"> {{row.genderType}} </td>
            </ng-container>

               <!-- roleType Column -->
            <ng-container matColumnDef="roleType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> roleType </th>
                <td mat-cell *matCellDef="let row"> {{row.roleType}} </td>
            </ng-container>

                 <!-- country Column -->
            <ng-container matColumnDef="country">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> country </th>
                  <td mat-cell *matCellDef="let row"> {{row.country}} </td>
            </ng-container>

                 <!-- CountyId Column -->
            <ng-container  matColumnDef="countryId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CountyId</th>
                  <td  ng-hide="true" mat-cell  *matCellDef="let row">{{row.countryId}}</td>
            </ng-container>

               <!-- action Column -->
             <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
                <td mat-cell *matCellDef="let row"> 
                  <button mat-icon-button color="primary" (click)="editUser(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="deleteUser(row.privateNumber)" mat-icon-button color="primary">
                    <mat-icon>delete</mat-icon>
                  </button>
                  
                </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

    </div>

  </div>
