<h1 mat-dialog-title>ქვეყნის დამატება</h1>
<div mat-dialog-content>
  <form [formGroup]="countryForm">

  <mat-form-field appearance="outline">
      <mat-label>ქვეყნის სახელი</mat-label>
      <input formControlName="name" matInput placeholder="name">
      <mat-error *ngIf="countryForm.controls['name'].hasError('required') ">არ უნდა იყოს ცარიელი</mat-error>
      <mat-error *ngIf="countryForm.controls['name'].hasError('pattern')">
                        უნდა შედგებოდეს სიმბოლოებისგან
      </mat-error>
    </mat-form-field>

  </form>
    
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warm" mat-dialog-close>დახურვა</button>
  <button [disabled]="!countryForm.valid" style="margin-left: 8px ;" mat-raised-button color="primary"  
  
   (click)="onCreateCountry()">დამატება</button>
</div>

<!-- [disabled]="!countryForm.valid" -->

